* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Default font family for the entire document */
body,
html {
  font-family: "Open Sans", sans-serif;
}

/* Wrapper for limiting content width */
body .wrapper {
  max-width: 1200px;
}

/*SKIP LINK*/
.skip-link {
  position: absolute;
  top: -999em;
  left: 0;
  background-color: #0d65d8;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  z-index: 1000;
}

.skip-link:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.skip-link:focus {
  top: 0; /* Move the skip link to the top when focused */
}

/* Navigation styles */
.icon {
  position: absolute;
  padding: 50px;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  font-size: 24px; /* Adjust as needed */
}

/* Navigation bar */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  text-transform: uppercase;
}

/* Navigation link */
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee; /* Change background color on hover */
}

.nav__link--active {
  color: #0d65d8; /* Set color for active link */
}

.nav__icon {
  font-size: 18px;
  padding: 10px;
}

/*Index HTML Page Styles*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

#main-container {
  text-align: center;
}

#main-container img {
  width: 100vw; /* Make the image cover the full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-top: 40px;
}

#main-container h1 {
  color: #0d65d8;
  font-size: 24px;
  padding: 10px;
}

#main-container h2 {
  color: #757e90;
  padding-bottom: 50px;
  font-weight: lighter;
}

/* Animation styles using keyframes */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#main-container {
  animation: slideInFromLeft 1s ease-in-out forwards;
}

/* Animation using keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Button styles */
button {
  animation: pulse 2s infinite alternate;
}

button {
  background-color: #0d65d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 55px;
  cursor: pointer;
  width: 285px;
}

button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

@media screen and (min-width: 760px) {
  /* Adjustments for larger screens */
  #main-container img {
    width: 50vw; /* Reduce image width */
  }

  #main-container h1 {
    font-size: 34px;
  }

  #main-container h2 {
    font-size: 28px;
  }

  button {
    padding: 25px 80px;
    font-size: 16px;
    width: 300px;
  }
}

/*Login Styles*/
/* Container for login content */
.login-container {
  padding: 50px;
  max-width: 500px; /* Set maximum width */
  width: 100%; /* Occupy full width */
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

/* Heading style for login page */
.login-container h1 {
  font-weight: normal;
  font-size: 25px;
}

/* Paragraph style for login page */
.login-container p {
  color: #757e90;
  padding-top: 10px;
  padding-bottom: 50px;
}

/* Style for a line element */
.line {
  margin-bottom: 30px;
}

/* Text style for forms */
.form-text {
  color: #757e90;
}

/* Input fields for text and password */
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Subtract padding from width */
  margin-top: 15px;
  font-size: 20px;
  padding-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-style: none;
}

/* Submit button style */
input[type="submit"] {
  background-color: #0d65d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 80px;
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  width: 380px;
  animation: pulse 2s infinite alternate;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Placeholder text color */
input::placeholder {
  color: #000;
  font-size: 20px;
}

/* Container for 'remember me' and 'forgot password' */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Container for 'remember me' checkbox */
.remember-me {
  display: flex;
  align-items: center;
}

/* Checkbox style */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Style for 'forgot password' link */
.forgot-password {
  text-decoration: none;
  color: #333;
}

/* Horizontal line separator style */
hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Media query for screens with a minimum width of 760px */
@media screen and (min-width: 760px) {
}

/*Charities Card Styles*/
/* Styles for the container of charity card content */
.name-section {
  padding: 50px;
}

/* Heading style for the charity card */
.name-section h1 {
  font-weight: lighter;
  padding-top: 50px;
}

/* Subheading style for the charity card */
.name-section h2 {
  margin-bottom: 20px;
}

/* Paragraph style for the charity card */
.name-section p {
  color: #757e90;
  padding-top: 30px;
}

/* Style for spans */
span {
  font-weight: bolder;
}

/* Style for buttons within the charity card */
.name-section button {
  border: none;
  border-radius: 5px;
  padding: 15px 70px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  width: auto;
}

/* Container for buttons within the charity card */
.button-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

/* Image style within the charity card */
.name-section img {
  padding-top: 25px;
  width: 100%;
}

/* Subheading style within the charity card */
.name-section h2 {
  padding-top: 20px;
  font-weight: normal;
}

/* Subtext style within the charity card */
.sub-text {
  margin-top: 50px;
}

/* Dismiss button style */
.dismiss {
  background-color: #ffffff;
  color: #000;
}

/* Hover effect for dismiss button */
.dismiss:hover {
  color: #fff;
}

/* Container for horizontal rule */
.hr-container {
  position: relative;
  width: 100%;
}

/* Style for left half of the horizontal rule */
.hr-left {
  border: none;
  height: 3px; /* Adjust as needed */
  width: 50%;
  background-color: #0d65d8; /* Color for the left half */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/* Style for right half of the horizontal rule */
.hr-right {
  border: none;
  height: 1px; /* Adjust as needed */
  width: 50%;
  background-color: #757e90; /* Color for the right half */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* Container for price information */
.price-container {
  position: relative;
  text-align: right;
}

/* Style for price paragraphs */
.price-container p {
  text-align: left;
}

/* Style for original price */
.original-price {
  color: #757e90; /* Color of the original price */
  font-size: 20px; /* Adjust font size as needed */
  position: relative; /* Make the position relative for top adjustment */
  top: -30px; /* Adjust as needed to move the price higher */
}

/* Style for pseudo-element before original price */
.original-price::before {
  content: "";
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  transform: translateY(-50%);
  z-index: -1;
}

/* Style for updated price */
.updated-price {
  color: #0d65d8;
  text-decoration: none;
  font-size: 25px;
  position: relative; /* Make the position relative for top adjustment */
  top: -30px; /* Adjust as needed to move the price higher */
}

/* Container for location information */
.location {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the items */
  padding: 50px; /* Adjust padding as needed */
  background-color: transparent; /* Adjust background color as needed */
}

/* Styles for location heading */
.location h1 {
  margin: 0;
  color: #333;
  font-size: 24px;
  font-weight: normal;
}

/* Styles for icons within location */
.location i {
  margin-left: 15px;
  margin-top: 15px;
}

/* Styles for profile icon */
.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  position: absolute;
  top: 45px;
  right: 40px;
}

/* Styles for image inside profile icon */
.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for profile container */
.profile-container {
  position: absolute;
  left: 40px;
  top: 75%;
  display: flex;
  align-items: center;
}

/* Media query for screens with a minimum width of 760px */
@media screen and (min-width: 760px) {
  /* Styles for name section within the media query */
  .name-section {
    padding: 50px 100px;
  }

  /* Styles for image inside name section within the media query */
  .name-section img {
    width: 50%;
  }

  /* Styles for horizontal rule container within the media query */
  .hr-container {
    width: 50%;
  }
}

/* Styles for secondary profile icon for donation.html */
.profile-icon2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  margin-right: 10px; /* Add margin between icon and name */
}

/* Styles for image inside secondary profile icon */
.profile-icon2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for profile name */
.profile-name {
  font-size: 16px;
  white-space: nowrap;
  font-weight: normal; /* Prevents name from wrapping */
}

/* Styles for description */
.description {
  padding: 50px; /* Add spacing between name and description */
  font-size: 14px;
  line-height: 35px;
  color: #666; /* Example color */
}

/* Styles for support button */
.support-btn {
  position: sticky;
  bottom: 50px; /* Adjust as needed */
  left: 13%; /* Adjust as needed */
  padding: 20px 20px;
  background-color: #0d65d8;
  width: 70%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for support button */
.support-btn:hover {
  background-color: #0056b3;
}

/* Styles for button link */
.button-link {
  text-decoration: none;
}

/* Styles for three dotted menu */
.dots {
  position: absolute;
  top: 60px;
  right: 40px;
}

/* Styles for search container */
/*Search/Explore Page*/
.search-container {
  position: relative;
  padding: 50px;
}

/* Styles for search input wrapper */
.search-input-wrapper {
  position: relative;
}

/* Styles for search icon */
.search-icon {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}

/* Styles for search input */
.search-container input {
  color: #757e90;
}

/* Styles for search input element */
#searchInput {
  width: 100%;
  height: 60px;
  font-size: 16px;
  background: #ebedf1;
  padding-left: 10px;
}

/* Styles for search results container */
#searchResults {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 50px;
  border-top: none;
}

/* Styles for paragraphs within search results */
#searchResults p {
  color: #757e90;
  font-size: 13px;
}

/* Styles for list items within search results */
#searchResults li {
  padding: 0px;
  cursor: pointer;
  padding-top: 40px;
  font-size: 20px;
}

/* Hover effect for list items within search results */
#searchResults li:hover {
  background-color: #ddd;
  border-radius: 5px;
}

/* Styles for material symbols outlined */
.material-symbols-outlined {
  float: right;
}
