* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Open Sans", sans-serif;
}

body .wrapper {
  max-width: 1200px;
}

.icon {
  position: absolute;
  padding: 50px;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  font-size: 24px; /* Adjust as needed */
}

/*Navigation*/

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  text-transform: uppercase;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #0d65d8;
}

.nav__icon {
  font-size: 18px;
  padding: 10px;
}

/*Splash*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

#main-container {
  text-align: center;
}

#main-container img {
  width: 100vw; /* Make the image cover the full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-top: 40px;
}

#main-container h1 {
  color: #0d65d8;
  font-size: 24px;
  padding: 10px;
}

#main-container p {
  color: #757e90;
  font-size: 18px;
  padding-bottom: 50px;
}

button {
  background-color: #0d65d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 55px;
  cursor: pointer;
  width: 285px;
}

/*Login*/
.login-container {
  padding: 100px;
  max-width: 500px; /* Set maximum width */
  width: 100%; /* Occupy full width */
  justify-content: center;
  align-items: center;
}

.login-container body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container h1 {
  margin-top: 0; /* Remove default margin */
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Subtract padding from width */
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-style: none;
}

input[type="submit"] {
  background-color: #0d65d8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  text-decoration: none;
  color: #333;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.name-section {
  justify-content: center;
  padding: 50px;
}

.name-section h1 {
  font-weight: lighter;
}

.name-section p {
  color: #757e90;
  padding-top: 30px;
}

span {
  font-weight: bolder;
}

.name-section button {
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 55px;
  cursor: pointer;
  width: 254px;
}

.name-section img {
  padding-top: 25px;
  width: 100%;
}

.name-section h2 {
  padding-top: 20px;
  font-weight: normal;
}

#line {
  top: ;
}

.dismiss {
  background-color: #ffffff;
  color: #000;
}

.hr-container {
  position: relative;
  width: 100%;
}

.hr-left {
  border: none;
  height: 3px; /* Adjust as needed */
  width: 50%;
  background-color: #0d65d8; /* Color for the left half */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.hr-right {
  border: none;
  height: 1px; /* Adjust as needed */
  width: 50%;
  background-color: #757e90; /* Color for the right half */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.price-container {
  position: relative;
  text-align: right;
}

.price-container p {
  text-align: left;
}

.original-price {
  color: #757e90; /* Color of the original price */
  font-size: 20px; /* Adjust font size as needed */
  position: relative; /* Make the position relative for top adjustment */
  top: -30px; /* Adjust as needed to move the price higher */
}

.original-price::before {
  content: "";
  position: absolute;
  text-decoration: none;
  top: 100%;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #333; /* Color of the line */
  transform: translateY(-50%);
  z-index: -1;
}

.updated-price {
  color: #0d65d8;
  text-decoration: none;
  font-size: 25px;
  position: relative; /* Make the position relative for top adjustment */
  top: -30px; /* Adjust as needed to move the price higher */
}

.location {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the items */
  padding: 50px; /* Adjust padding as needed */
  background-color: transparent; /* Adjust background color as needed */
}

.location h1 {
  margin: 0;
  color: #333; /* Adjust text color as needed */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: normal; /* Adjust font weight as needed */
}

.location i {
  margin-left: 15px; /* Adjust margin as needed */
  margin-top: 15px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  position: absolute;
  top: 45px;
  right: 40px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container {
  position: absolute;
  left: 40px;
  top: 75%;
  display: flex;
  align-items: center;
}

.profile-icon2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
  margin-right: 10px; /* Add margin between icon and name */
}

.profile-icon2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 16px;
  white-space: nowrap;
  font-weight: normal; /* Prevents name from wrapping */
}

.description {
  padding: 50px; /* Add spacing between name and description */
  font-size: 14px;
  line-height: 35px;
  color: #666; /* Example color */
}

.support-btn {
  position: sticky;
  bottom: 50px; /* Adjust as needed */
  left: 13%; /* Adjust as needed */
  padding: 20px 20px;
  background-color: #0d65d8;
  width: 70%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Optional hover effect */
.support-btn:hover {
  background-color: #0056b3;
}

/* Optional: Style the button link */
.button-link {
  text-decoration: none;
}

.dots {
  position: absolute;
  top: 60px;
  right: 40px;
}

.search-container {
  position: relative;
  padding: 50px;
}

.search-input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}

#searchInput {
  width: 100%;
  height: 60px;
  font-size: 16px;
  background: #ebedf1;
  padding-left: 10px;
}

#searchResults {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 50px;
  border-top: none;
}

#searchResults p {
  color: #757e90;
  font-size: 13px;
}

#searchResults li {
  padding: 0px;
  cursor: pointer;
  padding-top: 40px;
  font-size: 20px;
}

#searchResults li:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.material-symbols-outlined {
  float: right;
}
